
.App {
  text-align: center;
  height: 100vh;
  font-family: 'Arvo', serif;
  font-weight: 600;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.divPost{
  min-height: 100vh;
}
.divPost .divPostBack{
  overflow: auto;
  -webkit-overflow-style: none;
  background-color: rgba(250, 117, 40, 0);
  margin: 0 auto;
  width:70%;
  height: 85vh;
  margin-top: 50px;
  margin-right: 280px; 
  border-radius: 3%;
}
::-webkit-scrollbar { 
  display: none; 
}
.sideBar{
  position: fixed;
  widows: 150px;
  top:10%;
  right: 0;
  align-items: left;
  display:flex;
  flex-direction: column;
  margin-top:60px;
}
.sideBar img{
  margin-bottom: 20px;
}

.sideBar .faceInst{
  margin-left:20px;
}


.navBar{
  position: fixed;
  top: 20px;
  right: 50px;
  font-size:25px;
  border-radius: 20px;
}

.navBar div{
  width:200px;
  height: auto;
  
}

.navBar span{
  margin-right:20px;
  margin-bottom:10px; 
  float:right;
  color:white;
  font-weight: 600;
}

.navBar button{
  float:right;
  border-radius: 20px;
  background-color:rgba(223, 209, 200, 0.568);
  font-size: 20px;
  border: none;
  font-weight: 600;
  padding: 10px 25px;
  width:150px;
  text-align: center;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}
.navBar button:hover{
  background-color:rgba(109, 5, 170, 0.699);
  color:white;
  font-weight: 1000;
}
.posts{
  display: flex;
  flex-direction: column;
  background-color: rgba(248, 247, 247, 0.993); 
  border-radius: 20px;
  overflow: hidden;
  width:298px;
  height: 340px;
  justify-content: space-around;
  margin: 10px auto;
  box-shadow: 3px 3px 5px;
  /* align-items: center; */
  background-color: rgba(255, 255, 255, 0.63);
}

.block{
  display: flex;
  margin-left: 50px;
  margin-top:20px;
  margin-bottom: 10px;
}

.inpost {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 2px;
  overflow: auto;
  height: 240px;
}

.posts .picture{
  border-radius: 3px;
  box-shadow: 0 3px 5px rgb(92, 90, 90);
  /* margin-bottom: 15px; */
}

.video {
  border-radius: 3px;
  box-shadow: 0 3px 5px rgb(92, 90, 90);
}

.posts p {
  width: 180px;
  font-size: 15px;
  font-family: 'Gayathri', sans-serif;
  font-family: 'Neucha', cursive;
  font-family: 'Exo 2', sans-serif;

}

.underPicture {
  width: 200px;
  /* background-color: antiquewhite;
  border-radius: 2px; */
}

.socPosts {
  display: flex;
  flex-wrap: wrap;
}
/* .stats:first-child {
  margin-right: 100px;
  margin-left: 50px;
} */

.stats{
  font-size: 20px;
  margin-right: 20px;
}


/* rgba(248, 138, 75, 0.801) */
/* rgba(54, 236, 160, 0.801) */
.mainPage{
  background-color:rgba(248, 138, 75, 0.801);
  width: 600px;
  margin: 0 auto;
  min-height: 490px; 
  border-radius: 30% 30% 30% 5px;
  margin-top: 130px; 
}

.mainPage .button{
  width:235px;
  height: 50px;
  font-size: 30px;
  border: none;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  outline: none;
  cursor: pointer; 
  padding-top: 40px; 
}
/* .mainPage .button:first-child{
  padding-left:50px; 
} */
.ActiveBtn{
  color:white;
  font-weight: 1000;
}

.logReg{
  width: 100%;
  margin:0 auto;
  text-align: left;
  font-size:25px;
}
.logReg input{
  font-size: 20px;
  line-height: 1.5;
  color: #666;
  display: block;
  width: 400px;
  background: #e6e6e6;
  height: 40px;
  border-radius: 10px;
  margin: 10px auto;
  outline: none;
    border: none;
    padding: 5px;
}

.logReg p {
  margin-top:20px;
  margin-left: 100px;
}
.logReg form{
  margin-top: 30px;
}
.logReg button{
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 210px;
  margin-bottom: 30px;
  background-color:rgba(223, 209, 200, 0.568);
  font-size: 30px;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  outline: none;
  cursor: pointer;
}

.logReg button:hover{
  background-color:rgba(109, 5, 170, 0.699);
  color:white;
  font-weight: 1000;
}
.logReg .wrong{
  color: red; 
  margin-left: 160px;
}
.logReg img{
  margin-left: 10px;
  cursor:pointer;
}
.addBtn{
  width:250px;
}
.addBtn img{
  width:100%
}

.postsWisDiv{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* .postsWis{
  width:200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.postsWis{
  width: 100%;
  margin:0 auto;
  text-align: left;
  font-size:25px;
}
.postsWis input{
  font-size: 20px;
  line-height: 1.5;
  color: #666;
  display: block;
  width: 400px;
  background: #e6e6e6;
  min-height: 40px;
  border-radius: 10px;
  margin: 10px auto;
  outline: none;
    border: none;
    padding: 5px;
}
.postsWis textarea{
  font-size: 20px;
  line-height: 1.5;
  color: #666;
  display: block;
  width: 400px;
  background: #e6e6e6;
  min-height: 100px;
  border-radius: 10px;
  margin: 10px auto;
  outline: none;
    border: none;
    padding: 5px;
}

.postsWis img{
  margin-left:105px;
}
.postsWis button{
  border-radius: 20px;
  margin-left: 140px;
  background-color:rgba(223, 209, 200, 0.568);
  font-size: 30px;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  outline: none;
  cursor: pointer;
}
.postsWis button:hover{
  background-color:rgba(109, 5, 170, 0.699);
  color:white;
  font-weight: 1000;
}

.postsWis #img{
padding-top:15px;
}

.postsWis input[type="file"] {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
  background: #e6e6e6; 
  outline: none;
  width: 165px;
  color: #faf6f600; 
  font-family: Tahoma;
}
/* .imgPic {
  display: flex;
  align-items: center;
  width: 200px; 
  height: 250px;
} */
.wisStats{
  margin-left: 20px;
}
.startDiv{
  margin-top: 20px;
}
.startDiv span{
  font-size: 25px;
  color:rgb(71, 70, 71);
}
