.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.divPost{
  background-color: rgba(107, 194, 179, 0.678) ;
  min-height: 100vh;
}
.sideBar{
  position: fixed;
  widows: 150px;
  top:0;
  right: 0;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.171);
  align-items: left;

}
.sideBar ul{
  list-style: none;
}
.sideBar li{
  padding-top: 30px;
  padding-right: 20px;  
}
.navBar{
  background-color: rgba(180, 201, 106, 0.678);
  position: fixed;
  top: 0;
  right: 8.7%;
}
.navBarSmall{
  width:100px;
  padding: 10px;
  border-radius: 20px
}
.posts{
  display: inline-flex;
  width:350px;
  justify-content: space-around;
  margin: 10px auto;
}
.posts img{
  border-radius: 5px;
}


